a {
  color: #4183C4;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #3d85c6;
}

a#viewSource {
  display: block;
  margin: 1.3em 0 0 0;
  border-top: 1px solid #999;
  padding: 1em 0 0 0;
}

div#links a {
  display: block;
  line-height: 1.3em;
  margin: 0 0 1.5em 0;
}

h1 a {
  font-weight: 300;
  white-space: nowrap;
}

body {
  /* lea.verou.me/css3patterns/#carbon-fibre */
  /* background:
    radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px; */
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    margin: 3vh 0 3vh 0;
  }


  h1 {
    color: #666;
    font-family: 'Roboto condensed', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    margin: 0 0 6vh 0;
  }

  header:hover h1 {
    color: #3d85c6;
  }

  h2 {
    color: #444;
    font-family: 'Roboto condensed', sans-serif;
    font-size: 4vw;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0 0 3vh 0;
    text-align: center;
  }

  h3 {
    border-top: 1px solid #eee;
    color: #666;
    font-size: 0.9em;
    font-weight: 500;
    margin: 20px 0 10px 0;
    padding: 10px 0 0 0;
    white-space: nowrap;
  }

  img {
    max-width: 100%;
  }

  picture img {
    /* width: 50%; */
  }

  picture#banner img {
    margin: 0 0 6vh 0;
    width: 100%;
  }

  ol {
    padding: 0 0 0 20px;
  }

  p {
    color: #444;
    font-weight: 300;
    line-height: 1.6em;
  }

  p.borderBelow {
    border-bottom: 1px solid #eee;
    padding: 0 0 1em 0;
  }

  section p:last-of-type {
    margin: 0;
  }

  section {
    border-bottom: 1px solid #eee;
    margin: 0 0 3vh 0;
  }

  section:last-of-type {
    border-bottom: none;
    padding: 0 0 1em 0;
  }

  strong {
    font-weight: 500;
  }

  section p:last-of-type {
    margin: 0;
  }

  section {
    border-bottom: 1px solid #eee;
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
    width: 90vw;
  }

  section:last-of-type {
    border-bottom: none;
    padding: 0 0 1em 0;
  }

  strong {
    font-weight: 500;
  }

  svg#logo {
    display: block;
    height: 6vw;
    margin: 0 0 3vh 0;
    width: 6vw;
  }

  header:hover svg#logo {
    fill: #3d85c6;
    -webkit-filter: drop-shadow(3px 3px 3px #ddd);
    filter: drop-shadow(3px 3px 3px #ddd);
  }

  ul {
    padding: 0 0 0 20px;
  }

